<app-header-l></app-header-l>

<div class="partner-pub-page">
    <header class="header">
      <div class="hero">
        <h1>ESPACE LIVREUR<br />Livrez quand vous voulez</h1>
        <p>Nous prenons en compte tous les facteurs de changement et vous fournissons les composants <br/>
           dont vous avez besoin pour changer et <br/>
           créer un événement qui se produit réellement.</p>
      </div>
    </header>

    <section class="partnership">
      <div class="container">
        <!-- Title Section -->
        <div class="title-section">
          <h1 class="title">comment créer votre compte et commencer vos livraisons ?</h1>
        </div>

        <!-- Partner Section -->
        <div class="partner-section">
          <div class="partner-image">
            <img src="/assets/li.webp" alt="Partner Image" class="image" />
          </div>
          <div class="partner-description">
            <h2 class="subtitle">En savoir plus sur la livraison <br/>avec Yakalma</h2>
            <p class="description">
              Livreur chez Yakalma,<br />
               c'est l'activité idéale pour commencer ses revenus en toute liberté. <br />
               Vous pouvez livrer où vous voulez, quand vous voulez.
            </p>
          </div>
        </div>

        <!-- Benefits Section -->
        <div class="benefits-section">
          <h2 class="subtitle">Gagnez de l'argent à votre rythme</h2>
          <div class="benefits-grid">
            <div class="benefit-item">
              <img src="/assets/clock.svg" alt="Clock Icon" class="icon" />
              <h2>Votre menu, vos horaires</h2>
              <p class="benefit-text">
                Découvrez vos clients tout en publiant sur le plateforme et ce, <br/>
                quand vous le voulez - pour une heure, un weekend,<br/>
                 ou tout au long de la semaine.
              </p>
            </div>
            <div class="benefit-item">
              <img src="/assets/pay.png" alt="Payment Icon" class="icon" />
              <h2>Paiement instantané</h2>
              <p class="benefit-text">
                Vous recevez vos paiements chaque début de instant.<br/>
                 Après tout commande valide, vous débloquerez <br/>
                 aussi beaucoup plus d’option  vous permettant <br/>
                 d’encaisser vos revenus tous les jours.
              </p>
            </div>
            <div class="benefit-item">
              <img src="/assets/loc.png" alt="Location Icon" class="icon" />
              <h2> Découvrez votre ville</h2>
              <p class="benefit-text">
                Découvrez toutes les facettes <br/>
                 de votre ville tout en effectuant<br/>
                 des publications.
              </p>
            </div>
          </div>
        </div>

        <!-- Steps Section -->
        <div class="steps-section">
          <h2 class="subtitle">Fonctionnement</h2>
          <div class="steps-grid">
            <div class="step-item">
              <img src="/assets/phon.png" alt="Connect Icon" class="icon" />
              <h3 class="step-title">Connecter</h3>
              <p class="step-text">
                Prenez le temps de connecter votre application pour les clients <br />
                et les cuisiniers et recevoir des notifications de livraison.
              </p>
            </div>
            <div class="step-item">
              <img src="/assets/pub.png" alt="Publish Icon" class="icon" />
              <h3 class="step-title">Publier</h3>
              <p class="step-text">
                Dès l'application, vous avez accès à une communauté de clients et de cuisiniers.<br />
                 Livrez les commandes et commencez à gagner de l'argent.
              </p>
            </div>
            <div class="step-item">
              <img src="/assets/money.png" alt="Money Icon" class="icon" />
              <h3 class="step-title">Gérer votre porte-monnaie</h3>
              <p class="step-text">
                Vous pouvez suivre vos revenus <br />
                et les retirer de façon quotidienne ou hebdomadaire.
              </p>
            </div>
          </div>
        </div>

        <!-- Steps to Become a Partner Section -->
        <div class="become-partner-section">
          <h2 class="subtitle">Les étapes pour devenir partenaire chez Yakalma</h2>
          <div class="steps-grid">
            <div class="step-item">
              <img src="/assets/ins.jpeg" alt="Inscription Icon" class="icon" />
              <h3 class="step-title">Inscription</h3>
              <p class="step-text">
                Le processus d'inscription Yakalma est simple, rapide et gratuit. <br/>
                Vous faites votre compte en quelques minutes et <br/>
                 vous pouvez commencer à publier vos plats.
              </p>
            </div>
            <div class="step-item">
              <img src="/assets/doc.svg" alt="Documents Icon" class="icon" />
              <h3 class="step-title">Documents</h3>
              <p class="step-text">
                - Une pièce de l'identité<br />
                - Votre photo de profil. Elle doit permettre de vous reconnaître clairement.<br />
                - Votre photo d'identité. Elle doit être récente et montrer clairement votre visage.<br />
                - Votre NINEA
              </p>
            </div>
            <div class="step-item">
              <img src="/assets/valid.png" alt="Validation Icon" class="icon" />
              <h3 class="step-title">Validation</h3>
              <p class="step-text">
                Notre équipe examine votre demande d'inscription <br/>
                (les délais de validation sont de 24h). <br/>
                Si vous êtes éligible, vous recevrez un email de confirmation. <br/>
                Vous pouvez ensuite commencer à publier vos plats.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <app-footer></app-footer>

