<app-header-p></app-header-p>

<div class="page-container">
  <h1>Connexion Partenaire</h1>
  <p>
    Nous prenons en compte tous les facteurs de changement et vous fournissons les composants dont vous avez besoin pour changer et créer un événement qui se produit réellement.
  </p>
  <div class="card">
    <h2>Connectez-vous</h2>
    <label for="email" class="label">Adresse email</label>
    <input type="email" id="email" placeholder="Entrez votre adresse email" class="inp" />

    <label for="password" class="label">Mot de passe</label>
    <input type="password" id="password" placeholder="Entrez votre mot de passe" class="inp" />

    <button class="btn-primary">Se connecter</button>

    <p class="terms" style="margin-top: 15px; font-size: 12px; color: #777; text-align: center;">
      En continuant, vous acceptez de recevoir des appels, messages WhatsApp ou SMS/RCS au numéro fourni, y compris de façon automatisée, de la part d’Uber et de ses sociétés affiliées.
    </p>
  </div>

  <div class="footer">
    <div class="row">
    </div>
  </div>
</div>
<app-footer></app-footer>
