<app-header-restaurant></app-header-restaurant>

<div class="partner-pub-page">
    <header class="header">
      <div class="hero" style="display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;">
        <h1>LES MEILLEURS DELICES<br />LES MAMELS</h1>
        <p>Nous prenons en compte tous les facteurs de changement et vous fournissons les composants <br/>
           dont vous avez besoin pour changer et <br/>
           créer un événement qui se produit réellement.</p>
      </div>
    </header>

    <!-- Section 2: Hero Section -->
    <section class="hero">
      <div class="info-card">
          <h3 style="margin: 0;">Contacter Nous sur</h3><br/>
          <p><i class="fas fa-phone"></i> Contact: +221 77 123 45 67</p>
          <p ><i class="fas fa-map-marker-alt"></i> Adresse: Dakar, Sénégal</p>
        </div>
      <div class="hero-image" style="position: relative;">
        <img src="assets/dieune.webp" alt="Hero Image">

      </div>
      <div class="hero-content">
        <div class="hero-text" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
          <h1>Nous fournissons des aliments <br/> sains pour votre famille.</h1>
          <p>Notre histoire a commencé avec la vision de créer une expérience culinaire <br/>
            unique alliant gastronomie raffinée, service exceptionnel et ambiance dynamique. <br/>
            Ancrés dans la riche culture culinaire de la ville, nous souhaitons honorer<br/>
            nos racines locales tout en infusant un palais mondial.<br/>
            Chez nous, la restauration ne se résume pas seulement à la nourriture, mais également à l'expérience globale.<br/>
            Notre personnel, réputé pour sa chaleur et son dévouement,<br/>
            s'efforce de faire de chaque visite un événement inoubliable.
          </p>
        </div>
        <button class="cta-button" style="display: block; margin: 0 auto;">Découvrir nos plats</button>
      </div>

    </section>

    <!-- Section 3: Services -->
    <section class="services">
      <h2 style="font-weight: bold; font-size: 4.5em; font-family: 'Times New Roman', Times, serif;">
        Nos proposons également <br/>des services uniques pour vos événements
      </h2>
      <div class="service-cards" style="display: flex; gap: 10px; justify-content: center; flex-wrap: wrap;">
        <div class="service-card" style="flex: 1 1 calc(25% - 10px); max-width: calc(25% - 10px);">
          <img src="assets/annif.webp" alt="Service 1">
          <h3>🎉 Joyeux Anniversaire ! 🎉</h3>
          <p>Célébrez votre journée spéciale avec nous ! Chez [Nom du Restaurant],
         nous rendons chaque moment inoubliable avec nos délices culinaires et une ambiance chaleureuse.
          Que ce soit un dîner intime ou une fête festive, laissez-nous vous offrir une expérience unique.
        Réservez votre table dès aujourd'hui et vivez un anniversaire mémorable ! 🎂✨</p>
        </div>
        <div class="service-card" style="flex: 1 1 calc(25% - 10px); max-width: calc(25% - 10px);">
          <img src="assets/mar.webp" alt="Service 2">
          <h3> 🍽️ Service Traiteur d'Exception 🍽️</h3>
          <p>Pour vos événements inoubliables, faites confiance à [Nom du Service Traiteur].
         Nous vous offrons une cuisine raffinée et des présentations élégantes pour impressionner vos invités. Que ce soit pour un mariage,
          un anniversaire ou une réunion d'affaires, notre équipe dédiée s'assure que chaque détail est parfait.
        Contactez-nous pour planifier votre événement culinaire dès aujourd'hui ! 🍴✨</p>
        </div>
        <div class="service-card" style="flex: 1 1 calc(25% - 10px); max-width: calc(25% - 10px);">
          <img src="assets/evenement.webp" alt="Service 3">
          <h3> 🎊 Événements Inoubliables 🎊</h3>
          <p>Confiez-nous l'organisation de vos événements et laissez-nous transformer vos idées en réalité.
         Chez [Nom du Service], nous créons des expériences mémorables grâce à notre expertise en planification,
         notre attention aux détails et notre passion pour l'excellence. Que ce soit un mariage, une conférence ou une soirée d'entreprise,
         nous nous assurons que chaque moment est parfait.
        Contactez-nous pour commencer à planifier votre événement dès aujourd'hui ! 🌟🎉
        </p>
        </div>
        <div class="service-card" style="flex: 1 1 calc(25% - 10px); max-width: calc(25% - 10px);">
          <img src="assets/couple.webp" alt="Service 4">
          <h3>💒 Mariages de Rêve 💒</h3>
          <p>Faites de votre journée spéciale un moment magique avec votre restaurant.
        Nous nous spécialisons dans la création de mariages inoubliables, en veillant à ce que chaque détail soit parfait,
         de la cérémonie à la réception. Avec notre expertise et notre dévouement,
         nous transformons vos rêves en réalité pour un jour que vous chérirez à jamais.

        Contactez-nous pour commencer à planifier le mariage de vos rêves dès aujourd'hui ! 💖✨</p>
        </div>
        <div class="service-card" style="flex: 1 1 calc(25% - 10px); max-width: calc(25% - 10px);">
          <img src="assets/gradu.webp" alt="Service 4">
          <h3>🎓 Célébrez Votre Réussite 🎓</h3>
          <p>Marquez votre accomplissement avec une cérémonie de graduation inoubliable grâce à graduationService.
             Nous nous occupons de tout, de la planification à l'exécution, pour que vous puissiez profiter pleinement de ce moment spécial.
             Avec notre expertise, nous créons des événements mémorables qui reflètent votre succès et votre dévouement.

            Contactez-nous pour organiser une cérémonie de graduation exceptionnelle dès aujourd'hui ! 🌟🎊</p>
        </div>
        <div class="service-card" style="flex: 1 1 calc(25% - 10px); max-width: calc(25% - 10px);">
          <img src="assets/pause.webp" alt="Service 4">
          <h3>☕ Pauses Revitalisantes au Travail ☕</h3>
          <p>Faites de votre journée spéciale un moment magique avec votre restaurant.
        Nous Offrez à votre équipe des moments de détente bien mérités avec nos cafe et nos place.
         Nos services de pause au travail sont conçus pour revitaliser et inspirer,
         avec des options de restauration délicieuses et des activités relaxantes.
          Transformez les pauses en expériences agréables qui boostent la productivité et le moral.

        Contactez-nous pour organiser des pauses mémorables au travail dès aujourd'hui ! 🍪🌱</p>
        </div>
      </div>
    </section>

    <!-- Section 4: Testimonials -->
    <section class="testimonials">
      <h2 style="font-weight: bold; font-size: 5em;">Ce que disent nos clients</h2>
      <div class="testimonial-cards">
        <div class="testimonial-card" style="flex: 1 1 calc(30% - 5px); max-width: calc(25% - 5px); margin: 8px;">
          <p>"Le service de [Nom du Service] a transformé notre événement en une expérience inoubliable.
             Tout était parfaitement organisé, et la nourriture était délicieuse.
             Merci pour cette soirée exceptionnelle !"</p>
          <h4>Malick fall</h4>
        </div>
        <div class="testimonial-card" style="flex: 1 1 calc(30% - 5px); max-width: calc(25% - 5px); margin: 8px;">
          <p>"Nous avons fait appel à [Nom du Service] pour notre mariage, et nous ne pourrions être plus heureux.
            Chaque détail a été pris en compte, et nos invités n'ont pas cessé de complimenter
            la qualité du service. Un grand merci !"</p>
          <h4>Khady fall</h4>
        </div>
        <div class="testimonial-card" style="flex: 1 1 calc(30% - 5px); max-width: calc(25% - 5px); margin: 8px;">
          <p>"Nous avons fait appel à [Nom du Service] pour notre mariage, et nous ne pourrions être plus heureux.
            Chaque détail a été pris en compte, et nos invités n'ont pas cessé de complimenter
            la qualité du service. Un grand merci !"</p>
          <h4>Moustapha fall</h4>
        </div>
      </div>
    </section>

    <!-- Section 5: Blog -->
    <section class="blog">
      <h2>Notre blog et nos articles</h2>
      <div class="blog-cards">
        <div class="blog-card">
          <img src="assets/annif.webp"alt="Blog 1">
          <h3>Titre du blog 1</h3>
          <p>Description du blog 1.</p>
        </div>
        <div class="blog-card">
          <img src="assets/annif.webp" alt="Blog 2">
          <h3>Titre du blog 2</h3>
          <p>Description du blog 2.</p>
        </div>
        <div class="blog-card">
          <img src="path-to-blog-image-3.jpg" alt="Blog 3">
          <h3>Titre du blog 3</h3>
          <p>Description du blog 3.</p>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>

