<app-header-p></app-header-p>

<div class="page-container">
  <h1>Inscription partenaire</h1>
  <p>
    Nous prenons en compte tous les facteurs de changement et vous fournissons les composants dont vous avez besoin pour changer et créer un événement qui se produit réellement.
  </p>

  <div class="card">
    <h2>Indiquez votre adresse email</h2>
    <input type="email" placeholder="Enter email address" />

    <button class="btn-primary">Continuer</button>

    <div class="divider">OU</div>

    <button class="btn-social">
      <img src="https://fonts.gstatic.com/s/i/productlogos/googleg/v6/24px.svg
                                                                              " alt="Google" />
      Continuer avec Google
    </button>

    <button class="btn-social">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Apple" />
      Continuer avec Icloud
    </button>

    <p class="terms">
      En continuant, vous acceptez de recevoir des appels, messages WhatsApp ou SMS/RCS au numéro fourni, y compris de façon automatisée, de la part d’Uber et de ses sociétés affiliées.
    </p>
  </div>

  <div class="footer">
    <div class="row">
    </div>
  </div>
</div>
<app-footer></app-footer>
