/* Page */
.page-container {
  min-height: 100vh;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

/* Titre principal */
.page-container h1 {
  font-size: 6rem;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

/* Paragraphe principal */
.page-container p {
  color: #4B5563;
  max-width: 600px;
  margin-bottom: 2.5rem;
}

/* Carte principale */
.card {
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 6rem;
  width: 150%;
  max-width: 500px;
}

/* Titre formulaire */
.card h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Input email */
.card input[type="email"] {
  width: 100%;
  border: 1px solid #D1D5DB;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

/* Bouton continuer */
.card .btn-primary {
  width: 100%;
  background-color: #2563EB;
  color: white;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card .btn-primary:hover {
  background-color: #1E40AF;
}

/* OU */
.card .divider {
  color: #6B7280;
  margin-bottom: 1rem;
}

/* Boutons sociaux */
.card .btn-social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D1D5DB;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.card .btn-social:hover {
  background-color: #F9FAFB;
}

.card .btn-social img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

/* Message bas */
.card .terms {
  font-size: 0.75rem;
  color: #9CA3AF;
  margin-top: 1.5rem;
}

/* Footer */
.footer {
  margin-top: 2.5rem;
  max-width: 470px;
  font-size: 1.5rem;
  color: #4B5563;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

}

.footer a {
  color: #2563EB;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
