.header {
  width: 100%;
  background-color: #4169E1;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 2800px;
  margin: 0 auto;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 100px;
  height: auto;
  
}

.contact-info {
  display: flex;
  gap: 1rem;
}

.contact-info span {
  font-size: 1rem;
}

.right-section {
  display: flex;
  gap: 1rem;
  margin-left: auto; /* Déplace les boutons à droite */
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn.connection {
  background-color: white;
  color: #4169E1;
}

.btn.inscription {
  background-color: #4169E1;
  color: white;
}

.btn.inscription:hover {
  background-color: #00448f;
}
