
 @keyframes scroll-bg {
    0% {
      background-position: center;
    }
    100% {
      background-position: right;
    }
  }

  .animate-scroll-bg {
    animation: scroll-bg 10s linear infinite;
    background-size: 150%;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
